canvas {
    border: 1px solid #000000;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    margin: auto;
    position: relative;
    width: 900px;
    height: 500px;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#grid-canvas {
    z-index: 2;
}

#gof-canvas {
    z-index: 1;
}
