.wrapper {
    margin: auto;
    position: relative;
    width: 900px;
}

.wrapper canvas {   
    border: 1px solid #000000;
    position: absolute;
    top: 0;
    left: 0;
}

.controls {
    position: relative;
    top: 500px;
}

.info {
    position: relative;
}

.saves {
    position: relative;
    top: 520px;
    height: 500px;
}
#grid-canvas {
    z-index: 2;
}

#gof-canvas {
    z-index: 1;
}
